<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title></title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body>
		<div id='map'></div>
		<nav id='filter-group' class='filter-group'></nav>
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.33.1/mapbox-gl.js'></script>	
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.33.1/mapbox-gl.css' rel='stylesheet' />
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>
		<link rel='stylesheet' href='/css/geocoder.css' type='text/css' />
		<link rel='stylesheet' href='/css/main.css' type='text/css' />
		<div id='geocoder-container'></div>
		<script type='text/javascript' src='/js/main.js'></script>
		
	</body>
</html>
